@import '../vendor/smart-grid/smart-grid.sass'
@import 'fonts'
@import 'variables'

+reset

//General
*
  box-sizing: border-box
  text-decoration: none
  font-family: Ubuntu, sans-serif

body
  font-size: 16px
  line-height: 34px
  font-weight: 400
  letter-spacing: 0
  width: 100%
  max-width: 3840px
  min-width: 320px
  color: $main

.container
  +wrapper

.container-min
  width: 100%
  max-width: 1900px
  margin: 0 auto

h1
  font-size: 18px
  line-height: 24px
  font-weight: 500
  letter-spacing: 0
  margin-bottom: 30px
  text-transform: uppercase
  text-align: center
h2
  font-size: 28px
  line-height: 46px
  font-weight: 400
  letter-spacing: 0
  margin-bottom: 20px
  text-transform: uppercase
  text-align: center
h3
  font-size: 18px
  line-height: 30px
  font-weight: 600
  letter-spacing: 0
h4
  font-size: 17px
  line-height: 24px
  font-weight: 500
  letter-spacing: 0

img
  display: block
  max-width: 100%
  height: auto

button
  background: none
  border: none
  cursor: pointer
  outline: none

a
  outline: none

.overlay
  position: fixed
  left: 0
  top: 0
  z-index: 1043
  height: 100%
  width: 100%
  background-color: rgba(0, 0, 0, .7)
  visibility: visible
  opacity: 1
  transition: visibility .5s, opacity .5s linear

.hidden
  visibility: hidden
  opacity: 0
  transition: visibility .5s, opacity .5s linear

.relative
  position: relative

.reverse
  +md(flex-direction, column-reverse!important)
//btn to top------------------
#scroll
  position: fixed
  right: 40px
  bottom: 40px
  cursor: pointer
  width: 40px
  height: 40px
  background-color: $main
  text-indent: -9999px
  display: none
  border-radius: 60px
  z-index: 99999
  transition: all .5s
  opacity: .7
  +sm(width, 30px)
  +sm(height, 30px)

  &:hover
    background-color: $blue
    opacity: 1

#scroll span
  position: absolute
  top: 50%
  left: 50%
  margin-left: -8px
  margin-top: -12px
  height: 0
  width: 0
  border: 8px solid transparent
  border-bottom-color: #ffffff
//----------------------------

.google-map-wrapper
  width: 100%
  height: 500px
  position: relative
  overflow: hidden

//General
@import '../sections/general/header'
@import '../sections/general/footer'
@import '../sections/general/main'
@import '../sections/general/404'

//main-page
@import '../sections/main-page/about'
@import '../sections/main-page/details'
@import '../sections/main-page/rates'
@import '../sections/main-page/bonus'
@import '../sections/main-page/location'
@import '../sections/main-page/photo'

//servicy-page
@import '../sections/servisy-page/flowers'
@import '../sections/servisy-page/service-about'

//prejskurant-page
@import '../sections/prejskurant-page/catalog'
@import '../sections/prejskurant-page/prejskurant'

//bonusnaya-programma--page
@import '../sections/bonusnaya-programma--page/bonus-programma'

//contacts-page
@import '../sections/kontakty-page/contacts'