.photo
  width: 100%
  padding-top: 20px

  &__content
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center

  &__box
    +col
    +size(4)
    +size-sm(12)
    margin-bottom: 5px
    transition: all .3s ease-in-out

    img
      margin: 0 auto
      transition: all .3s ease-in-out

