.prejskurant
  width: 100%
  margin-top: 6%
  margin-bottom: 8%
  display: flex
  justify-content: center

  &__items
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 0% 3% 0% 3%

  &__item
    +col
    +size(6)

  &__btn
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 2px solid #f0ecec
    transition: border 400ms ease
    color: $main
    font-size: 1.4em
    padding-top: 22px
    padding-bottom: 22px

    &:hover
      border-color: $main

    &:hover > img
      filter: saturate(20)

    img
      max-width: 42px
      transition: all .4s

